<h2>Welcome to SearchDesk</h2>
<%= link_to 'Submit new search request', new_item_path %><br>
<%= link_to 'User sign in', new_user_session_path %> <br>
<%= link_to 'Register new user', new_user_registration_path %><br>
